/* Add this to your Skill.css file or your preferred styling file */

.skills__container {
    width: 100%;
    /* Set the desired width */
    max-width: 1200px;
    /* Optional: Set a maximum width for responsiveness */
    height: 100%;
    /* Set the desired height */
    margin: 0 auto;
    /* Center the container */
    padding: 20px;
    /* Add padding as needed */
    /* Include padding and border in the total width */
}

.skills__content {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    background-color: cornsilk;
    margin-bottom: 30px;
}

.skills__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

.title_css {
    margin-top: -30px;
    margin-left: 50px;
    margin-right: 10px;
}


/* Add the rest of your existing styles here... */

.skills__title {
    font-size: 24px;
    font-weight: bold;
}

.skills__subtitle {
    font-size: 18px;
    color: #999;
    font-family: 'Ralway', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.skills__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    transition: all 0.3s ease-in-out;
}

.skills__data {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skills__titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.skills__name {
    font-size: 18px;
    font-weight: bold;
}

.skills__number {
    font-size: 16px;
    color: #999;
}

.skills__bar {
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
}

.skills__percentage {
    display: block;
    height: 100%;
    background-color: #333;
}


/* Specific styles for skill classes */

.skills__html {
    width: 90%;
}

.skills__css {
    width: 85%;
}

.skills__js {
    width: 75%;
}

.skills__react {
    width: 85%;
}

.skills__python {
    width: 95%;
}

.skills__java {
    width: 80%;
}

.skills__node {
    width: 80%;
}

.skills__firebase {
    width: 60%;
}

.skills__git {
    width: 90%;
}

.skills__linux {
    width: 90%;
}

.skills__hide {
    display: none;
}

.skills__icon {
    margin-right: 10px;
    margin-top: 10px;
    /* Adjust margin as needed */
}