/* Navbar.css */

.custom-navbar {
    font-family: 'Raleway', sans-serif;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 100px;
    background-color: cornsilk;
    font-weight: bold;
    font-size: 16px;
    /* Adjust the font size as needed */
    margin-bottom: auto;
    /* Add margin to the bottom of the navbar */
}


/* Optionally, you can add styles for when the navbar is visible */

.custom-navbar.visible {
    opacity: 1;
}


/* Add the following styles for the underline effect */

.line {
    position: absolute;
    bottom: 0;
    height: auto;
    background-color: #4a5568;
    /* Adjust the color as needed */
    transition: width 0.3s ease-in-out;
}


/* Add active class for the underline effect */

.nav-link.active {
    color: #2d3748;
    /* Adjust the color as needed */
}

.navbar-nav {
    width: 80%;
    /* Adjust the width as needed */
    justify-content: center;
    margin: 0 auto;
    /* Center the navbar */
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: auto;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link.active {
    color: cornsilk;
}

.line {
    height: 2px;
    background-color: cornsilk;
    position: absolute;
    bottom: 0;
    transition: width 0.3s ease-in-out;
}


/* Dynamic styling based on tab names */

.about {
    color: #33ff57;
}

.projects {
    color: #5733ff;
}

.work-experience {
    color: #ff5733;
}

.research {
    color: #33ff57;
}

.expertise {
    color: #5733ff;
}

.research {
    color: #33ff57;
    /* Adjust the color as needed */
}

.expertise {
    color: #5733ff;
    /* Adjust the color as needed */
}

.nav-item:hover {
    opacity: 0.7;
}

.nav-item.active {
    opacity: 5;
}

.nav-item .nav-link {
    text-decoration: none;
    color: #000000;
    /* Change to your desired text color */
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
    position: relative;
}

.nav-item {
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.nav-item:last-child {
    margin-right: 0;
    /* Remove the right margin for the last item */
}

.nav-item:hover .nav-link::after {
    width: 100%;
}

.nav-item .nav-link::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    /* Adjust as needed */
    width: 0;
    height: 2px;
    background: #802121;
    /* Adjust color as needed */
    transition: all 0.4s ease;
    /* Add transition for smooth animation */
}

.custom-navbar {
    opacity: 0;
    /* Start with 0 opacity */
    animation: fadeIn 12s ease-in-out forwards;
    /* Adjust animation duration and easing as needed */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        width: 100%;
        /* Full width for smaller screens */
    }
    .nav-item {
        margin-right: 0;
        /* Remove right margin for smaller screens */
        margin-bottom: 10px;
        /* Add bottom margin for spacing */
    }
    .nav-link {
        padding: 0.5rem;
        /* Adjust padding for smaller screens */
    }
}